.contactForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 450px;
      height: auto;
      
      border-radius: 8px;
      font-weight: 300;
      h2 {
        font-weight: 300;
        font-size: 1.4rem;
            }
      .input-box {
        display: flex;
        flex-direction: column;
        // align-items: center;
        margin-top: 1rem;
        font-size: 1.1rem;
        // color: #ffffff;
        input {
          width: 350px;
          margin: 0 auto;
          height: 50px;
          background: #c5c8cbd9;
          border-radius: 6px;
          font-size: 16px;
          margin: 8px 5px;
          padding: 0 15px;
          color: black;
        }
        textarea {
          height: 200px;
          width: 350px;
          resize: none; 
          background:#c5c8cbd9;
          // border: solid 2px black;
          border-radius: 6px;
          font-size: 16px;
          margin: 8px 0;
          padding: 15px;
          color: black;
        }
        input:focus {
          border: 2px solid #888341;
          outline: none;
          color: #121111;
        }
        input::placeholder{
          color: #3a393c;
        }
        textarea:focus {
          border: 2px solid #888341;
          outline: none;
        }
        textarea::placeholder{
          color: #3a393c;
        }
      }
      button {
        width: 350px;
        padding: 10px;
        margin-top: 10px;
        background-color: rgb(34, 35, 37);
        border-radius: 8px;
        border: none;
        cursor: pointer;
        font-size: 18px;
        // color: #ffffff;
        font-weight: 400;
      }
    }
  }
  
  @media screen and (max-width: 660px) {
    .contactForm {
      // display: block;
      form {  
        height: auto;
        padding: 0;
          .input-box {
          display: flex;
          flex-direction: column; 
          input {
            width: 300px;
            height: 50px;
          }
          textarea {
            width: 300px;
            height: 200px;
          }
        }
        button {
          width: 300px;
          
  
        }
      }
    }
  }
  