.homepage {
  // width: 100%;
  height: auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .guitar{
    position: relative;
    img{
    width: 100%;
    height: auto; 
    filter: saturate(40%);
    }
  }
  .logo{
    position: absolute;
    top: 9rem; 
    padding: 0 19%;
    margin: 0 auto;
    img{
      width: 100%;
    }
  }
  
  h2 {
    font-size: 2.2rem;
    font-weight: 350;
    padding: 0.2rem;
    margin: 0 auto;
    width: 100%;
  }

  .main {
    position: absolute;
    top: 28rem;
    left: 11%;
    width: 80%;
      p {  
        margin: 0 auto;
        width: 70%;
        text-align: left;
        font-size: 1rem;
        padding: 0.5rem 0;
      }
    }

}

@media screen and (max-width: 1150px){
.homepage {
  .guitar{
    position: relative;
    img{
    width: 100%;
    height: auto;
    height: 65%; 
    overflow: hidden; 
    bottom: 35px; 
    object-fit: scale-down; 
    }
  }
  
  .main {
    position: relative;
    top: -22%;
    margin-bottom: 0;
      p {  
        margin: 0 auto;
        width: 80%;
        text-align: left;
        font-size: 1rem;
        padding: 0;
      }
    }

}
}

@media screen and (max-width: 1100px){
  .homepage {
    .guitar{
      position: relative;
      img{
      width: 100%;
      height: auto;
      height: 70%; 
      overflow: hidden; 
      bottom: 35px; 
      object-fit: scale-down;
      
      
      }
    }
    .main {
      position: relative;
      top: -18%;
        p {  
          margin: 0 auto;
          width: 80%;
          text-align: left;
          font-size: 1rem;
          padding: 0.5rem 0;
        }
      }
  
  }
  }

  @media screen and (max-width: 900px){
    .homepage {
      .guitar{
        position: relative;
        img{
        width: 100%;
        height: auto;
        height: 70%; 
        overflow: hidden; 
        bottom: 35px; 
        object-fit: scale-down;
        
        
        }
      }
      .main {
        position: relative;
        top: -16%;
          p {  
            margin: 0 auto;
            width: 80%;
            text-align: left;
            font-size: 1rem;
            padding: 0.5rem 0;
          }
        }
    
    }
    }
    @media screen and (max-width: 824px){
      .homepage {
        h2{
          font-size: 1.5rem;
        }
        .guitar{
          position: relative;
          img{
          width: 100%;
          height: auto;
          height: 70%; 
          overflow: hidden; 
          }
        }
        .main {
          position: relative;
          top: -12%;
            p {  
              width: 80%;
    
            }
          }
      
      }
      }


    @media screen and (max-width: 660px){
      .homepage {
        .logo{
          position: absolute;
          top: 8rem; 
          img{
            width: 100%;
          }
        }
        
        h2 {
          font-size: 1.1rem;
        }

        .guitar{
          position: relative;
          img{
          width: 100%;
          height: auto;
          overflow: hidden; 
          
          }
        }
        .main {
          position: relative;
          top: 1%;
          padding-bottom: 1rem;
            p {  
              width: 100%;
            }
          }
      
      }
      }
