

.navbar {
  width: 1240px;  
  background-color: #141212;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-size: 1.2rem;
  top: -0.6rem; 
  z-index: 1000;

}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
  
.nav-logo {
  position: relative;
  left: 0;
  // cursor: pointer;
  
  img{
    width: 2rem;
    height: 2rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
  }
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    // text-align: center;
    margin-right: 2rem;
    font-family: monospace; 
  }
  
  .nav-links {
    color: #d8dadd;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-item {
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 100;
    color: #d8dadd;
    .active {
      color: #888341;
    }
  }
  .nav-icon {
    display: none;

    .icon {
      width: 2rem;
      height: 2rem;
      color: #d8dadd;;
    }
  }
 
  
@media screen and (max-width: 1190px) {
    .navbar{
      width: 100%;
      position: fixed;
      height: 4rem;
      .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 2.5rem;
        left: -105%;
        transition: all 0.5s ease;
        text-align: right;
        &.active {
          // background-color: #242424;
          background-color: #141212;
          left: 0;
          transition: all 0.5s ease;
          z-index: 1;  
        }
      }
      .nav-links {
        padding: 3rem 0 0 0;
        width: 86%;
        display: table;
      }
      .nav-logo.icon {
        width: 2rem;
        height: 2rem;
      }
      .nav-icon {
        display: block;
        position: absolute;
        top: 2.5rem;
        left: 95%;
        transform: translate(-100%, -50%);
        width: 2rem;
        height: 2rem;
        cursor: pointer; 
        
      }
    }
    }
    
    
