.offer {
  h1 {
    margin-top: 6rem;
    font-size: 2.5rem;
    font-weight: 300;
  }
  .pricelist {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 0 2rem 0;
    width: 80%;
    margin: 0 auto;

    .list {
      display: flex;
      flex-direction: column;
      border-radius: 0.5rem;
      background-color: #c5c8cbd9;
      width: 80%;
      margin: 0 auto;
      padding: 0 2rem;

      h2 {
        font-weight: 400;
        margin-bottom: 0;
        color: #141212;
      }
      .content {
        display: flex;
        p {
          margin: 0 auto;
          width: 80%;
          text-align: left;
          padding: 2rem 1rem;
          font-size: 1rem;
          color: #141212;
        }
        img {
          width: 30%;
          height: 30%;
          padding-top: 1rem;
          transition: width 0.5s ease, transform 0.3s ease;
          &:hover {
            width: 60%;
            height: 60%;
          }
        }
      }
    }
    .price {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 500;
      color: #141212;
    }
  }
}

@media (max-width: 1024px) {
  .offer {
    .pricelist {
      width: 80%;
      .list {
        width: 80%;
      }
    }
  }
}

@media (max-width: 960px) {
  .offer {
    .pricelist {
      width: 80%;
      .list {
        width: 90%;
      }
    }
  }
}

@media (max-width: 660px) {
  .offer {
    .pricelist {
      width: 96%;
      .list {
        width: 100%;
        padding: 0;
        // &:hover {
        //   background-color: rgba(72, 72, 73, 0.331);
        // }
        .content {
          display: flex;
          flex-direction: column;
          p {
            margin: 1rem;
            width: 90%;
            padding: 0;
          }
          img {
            margin: 0 auto;
            padding: 0;
            width: 90%;
            cursor: auto;
            &:hover {
              width: 90%;
            }
          }
        }
      }
    }
  }
}
